APP_ENV=production
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=1234
DB_NAME=windproject
BASE_URL=http://localhost:8080/windproject
APP_URL=http://localhost:8080
APP_KEY=yJj3mH8kF0cT1oZfTqPqvFj4T7t5Q3vYlT3W8yD2zZk
TRANSLATE_LIMIT=450000